.notfound{
    display: grid;
    height: 100vh;
    place-content: center;
    justify-items: center;
    text-align: center;

    background-image: linear-gradient(to left top, #051937, #004d7a, #008793, #00bf72, #a8eb12);
    color: white;
}