.home {

/*  background: rgb(251,199,212);
background: linear-gradient(120deg, rgba(251,199,212,1) 2%, rgba(151,150,240,1) 85%); */

  background-image: url('../../assets/gradient-2.png');
  background-attachment: fixed;
  background-position: center;
}

/* .home-card {
  justify-items: center;
  text-align: center;
  padding: 2rem;
} */

/* .home h1,
.home p, 
.home a {
  color: rgb(23, 35, 90);
}

.home h1 {
  margin-bottom: 1rem;
} */

/* .home p {
  width: 80%;
  margin: auto;
  text-align: left;
} */