.wrapper_layoutNavbar {
    position: fixed;
    top: 0;
    left: 0;
    background: var(--secondary-gradient);

    display: grid;
    /* place-content: center;
    justify-items: center; */

    height: 100vh;
    width: 100vw;
    max-width: 500px;

    transform: translateX(-102%);
    z-index: 3;
    transition: transform .3s ease;

    -webkit-box-shadow: 10px 10px 35px 1px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 10px 10px 35px 1px rgba(0, 0, 0, 0.3);
    box-shadow: 10px 10px 35px 1px rgba(0, 0, 0, 0.3);
}

.layoutNavbar {
    color: var(--font-color);
}
footer{
    background: #9796f0;
}
footer span{
    color: #fdeaef;
}

.btn-cerrar {
    z-index: 3;
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    color: #9796f0;
    background: transparent;
}

.btn-abrir {
    z-index: 2;
    position: fixed;
    left: 0;
    top: 0;
    bottom: 0;
    color: #9796f0;

}

.mostrar {
    transform: translateX(0);
}